# This file is a general .ucf for Basys2 rev C board
# To use it in a project:
# - remove or comment the lines corresponding to unused pins
# - rename the used signals according to the project

# clock pin for Basys2 Board
NET "clk" LOC = "B8"; # Bank = 0, Signal name = MCLK
#NET "uclk" LOC = "M6"; # Bank = 2, Signal name = UCLK
#NET "mclk" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "uclk" CLOCK_DEDICATED_ROUTE = FALSE;

# Pin assignment for EppCtl
# Connected to Basys2 onBoard USB controller
#NET "EppAstb" LOC = "F2"; # Bank = 3
#NET "EppDstb" LOC = "F1"; # Bank = 3
#NET "EppWR"   LOC = "C2"; # Bank = 3
#
#NET "EppWait" LOC = "D2"; # Bank = 3
#
#
#NET "EppDB<0>" LOC = "N2"; # Bank = 2
#NET "EppDB<1>" LOC = "M2"; # Bank = 2
#NET "EppDB<2>" LOC = "M1"; # Bank = 3
#NET "EppDB<3>" LOC = "L1"; # Bank = 3
#NET "EppDB<4>" LOC = "L2"; # Bank = 3
#NET "EppDB<5>" LOC = "H2"; # Bank = 3
#NET "EppDB<6>" LOC = "H1"; # Bank = 3
#NET "EppDB<7>" LOC = "H3"; # Bank = 3


# Pin assignment for DispCtl
# Connected to Basys2 onBoard 7seg display
NET "sieteSeg<6>" LOC = "L14"; # Bank = 1, Signal name = CA
NET "sieteSeg<5>" LOC = "H12"; # Bank = 1, Signal name = CB
NET "sieteSeg<4>" LOC = "N14"; # Bank = 1, Signal name = CC
NET "sieteSeg<3>" LOC = "N11"; # Bank = 2, Signal name = CD
NET "sieteSeg<2>" LOC = "P12"; # Bank = 2, Signal name = CE
NET "sieteSeg<1>" LOC = "L13"; # Bank = 1, Signal name = CF
NET "sieteSeg<0>" LOC = "M12"; # Bank = 1, Signal name = CG
NET "sieteSeg<10>" LOC = "K14"; # Bank = 1, Signal name = AN3
NET "sieteSeg<9>" LOC = "M13"; # Bank = 1, Signal name = AN2
NET "sieteSeg<8>" LOC = "J12"; # Bank = 1, Signal name = AN1
NET "sieteSeg<7>" LOC = "F12"; # Bank = 1, Signal name = AN0
NET "btn" LOC = "A7"; # Bank = 1, Signal name = BTN3
#NET "btn<2>" LOC = "M4";  # Bank = 0, Signal name = BTN2
#NET "btn<1>" LOC = "C11"; # Bank = 2, Signal name = BTN1
NET "rst" LOC = "G12"; # Bank = 0, Signal name = BTN0



# Ver http://www.digilentinc.com/Data/Products/BASYS2/Basys2_rm.pdf